.text-muted {
    color: #6c757d;
    font-size: 0.9rem;
}

ion-select,
ion-input {
    --highlight-color: none !important;

    &:focus,
    &.has-focus,
    &.select-expanded {
        box-shadow: none;
        --highlight-color-focused: transparent !important;
    }
}