<ion-content>
  <app-header [title]="'Jana Resit'" [showBackBtn]="true"></app-header>
  <div class="p-16">

    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-text color="dark">
            <h1 class="fw-bold">Senarai Pembayaran</h1>
            <p class="text-muted">Pilih pembayaran daripada senarai untuk dijana resit</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row class="input-form-row ion-align-items-center ion-padding-horizontal"
        style="background: #f4f5f8; border-radius: 12px;">
        <!-- Category Select -->
        <ion-col size="12" size-md="3">
          <ion-select [(ngModel)]="category" interface="popover" class="w-100">
            <ion-select-option [value]="1">Nama Pelajar</ion-select-option>
            <ion-select-option [value]="2">Kelas</ion-select-option>
          </ion-select>
        </ion-col>

        <!-- Search Input -->
        <ion-col size="12" size-md="7">
          <ion-input [(ngModel)]="searchText" placeholder="Carian..." clear-input (keyup.enter)="onSearch()">
            <ion-icon slot="start" name="search-outline" color="medium"></ion-icon>
          </ion-input>
        </ion-col>

        <!-- Search Button -->
        <ion-col size="12" size-md="2">
          <ion-button expand="block" color="primary" (click)="onSearch()" style="--border-radius: 10px;">
            <ion-icon name="search" class=""></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <app-table [tableHeader]="tableHeader" [tableData]="tableData" [tablePaging]="tablePaging"
            (pageChange)="onPageChange($event)" (recordChange)="onRecordChange($event)"
            (onButtonClick)="onClick($event)"></app-table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>