<ion-content>
  <app-header [title]="'Jana Resit'" [showBackBtn]="true"></app-header>
  <div class="p-16">

    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-text color="dark">
            <h1 class="fw-bold">Senarai Pembayaran</h1>
            <p class="text-muted">Pilih pembayaran daripada senarai untuk dijana resit</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row class="input-form-row ion-align-items-center ion-justify-content-start" gutter="16">
        <ion-col>
          <ion-input class="form-control" placeholder="Carian..." [(ngModel)]="searchText" clearInput></ion-input>
        </ion-col>

        <ion-col size="auto" class="d-flex align-items-end pt-10">
          <ion-button color="accent" (click)="onSearch()">
            <ion-icon name="search" slot="icon-only" color="light"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <app-table [tableHeader]="tableHeader" [tableData]="tableData" [tablePaging]="tablePaging"
            (pageChange)="onPageChange($event)" (recordChange)="onRecordChange($event)"
            (onButtonClick)="onClick($event)"></app-table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>