<ion-content>
  <app-header [title]="'Senarai Kakitangan'" [showBackBtn]="true"></app-header>

  <ion-grid fixed class="ion-padding">
    <app-header-title [title]="'Senarai Kakitangan'"
      [subtitle]="'Berikut merupakan senarai kakitangan yang dikemaskini dalam sistem'"></app-header-title>

    <ion-row class="mt-12">
      <ion-col class="d-flex justify-end">
        <ion-button color="teriary" fill="outline" (click)="onTambah()">
          <ion-text>Tambah Kakitangan</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <app-search-bar (onSearchEvent)="onSeacrh($event)" [categoryList]="category"></app-search-bar>

    <ion-row class="mt-12">
      <ion-col size="12" class="d-flex justify-center align-items-center" style="height: 50vh;"
        *ngIf="staffData.length == 0">
        <ion-text class="title-fs" style="color: gray;">Tiada data kakitangan ditemui</ion-text>
      </ion-col>

      <ng-container *ngIf="staffData.length != 0">
        <ion-col size="12" *ngFor="let item of staffData" class="mt-8">
          <ion-card class="card-student m-0">

            <div class="card-header">
              <div class="avatar-initial">
                {{ item.namaKakitangan.charAt(0) }}
              </div>
              <div class="header-text">
                <span class="student-name">{{ item.namaKakitangan }}</span>
                <span class="badge-student">{{item.noKP}}</span>
              </div>
            </div>

            <ion-card-content>
              <div class="detail-row">
                <ion-icon name="location-outline" class="detail-icon"></ion-icon>
                <div class="detail-text">
                  <span class="label">Alamat Rumah</span>
                  <p class="value">{{ item.alamat }}</p>
                </div>
              </div>

              <div class="divider"></div>

              <ion-row>
                <ion-col size="6">
                  <div class="parent-info">
                    <span class="label">Emel</span>
                    <p class="value">{{ item.emel }}</p>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="parent-info">
                    <span class="label">No Telefon</span>
                    <p class="value">{{ item.noTel }}</p>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>

              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>

    </ion-row>
  </ion-grid>
</ion-content>