<ion-grid>
  <ion-row>
    <ion-col size="auto" class="d-flex align-items-center" *ngIf="!showBackBtn">
      <ion-menu-button color="main" *ngIf="false"></ion-menu-button>
      <ion-button (click)="toggleMenu()" fill="clear" class="ion-hide-lg-down" color="main" *ngIf="false">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="auto" class="d-flex align-items-center" *ngIf="showBackBtn">
      <ion-back-button defaultHref="/menu-utama" routerDirection="root" color="main"></ion-back-button>
    </ion-col>

    <ion-col size="auto" class="d-flex align-items-center">
      <ion-text class="h2-fs fw-semibold" color="main">{{title}}</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>