<ion-content>
  <!-- <app-header [title]="'Menu Utama'"></app-header> -->

  <div class="dashboard-container">

    <div class="welcome-header ion-padding-horizontal ion-padding-top">
      <ion-text color="dark">
        <h1 class="welcome-title">Selamat Kembali</h1>
        <p class="welcome-subtitle">{{ today | date:'EEEE, d MMMM y':'':'ms-MY' }}</p>
      </ion-text>
    </div>

    <ion-grid class="ion-padding">

      <ion-row>
        <ng-container *ngFor="let card of cardConfig">
          <ion-col sizeLg="4" sizeMd="6" size="12">
            <div class="stat-card" [ngClass]="'accent-' + (card?.iconColor || 'primary')">
              <div class="stat-content">
                <div class="stat-text">
                  <span class="stat-label">{{ card.title }}</span>
                  <div class="stat-value">
                    <ng-container [ngSwitch]="card.type">
                      <span *ngSwitchCase="'currency'">{{ card.count | currency:'RM ' }}</span>
                      <span *ngSwitchDefault>{{ card.count }}</span>
                    </ng-container>
                  </div>
                </div>
                <div class="stat-icon" [style.color]="'var(--ion-color-' + (card?.iconColor || 'primary') + ')'">
                  <ion-icon [name]="card.icon"></ion-icon>
                </div>
              </div>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>

      <ion-row class="ion-margin-top section-wrapper d-flex justify-center">
        <ion-col size="12">
          <div class="section-header">
            <span class="section-title">Pautan Pantas</span>
          </div>
        </ion-col>

        <ng-container *ngFor="let item of menuConfig">
          <ion-col sizeMd="6" size="12">
            <div class="action-tile ion-activatable ripple-parent" (click)="onClickBtn(item.url)">
              <div class="tile-icon-box">
                <ion-icon [name]="item.icon"></ion-icon>
              </div>
              <span class="tile-label">{{ item.title }}</span>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <app-table [tableHeader]="tableHeader" [tableData]="tableData" [tableTitle]="'Senarai Pembayaran Terkini'"
            [tablePaging]="paging" [showPaging]="false" (pageChange)="onPageChange($event)"
            (recordChange)="onRecordChange($event)">
          </app-table>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>