// Display
.d-block {
   display: block !important;
}

.d-inline {
   display: inline !important;
}

.d-inline-block {
   display: inline-block !important;
}

.d-flex {
   display: flex !important;
}

.d-inline-flex {
   display: inline-flex !important;
}

.d-grid {
   display: grid !important;
}

.d-none {
   display: none !important;
}


// Flex
.flex-row {
   flex-direction: row !important;
}

.flex-col {
   flex-direction: column !important;
}

.flex-row-reverse {
   flex-direction: row-reverse !important;
}

.flex-col-reverse {
   flex-direction: column-reverse !important;
}

.flex-wrap {
   flex-wrap: wrap !important;
}

.flex-nowrap {
   flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
   flex-wrap: wrap-reverse !important;
}


// Justify
.justify-start {
   justify-content: flex-start !important;
}

.justify-center {
   justify-content: center !important;
}

.justify-end {
   justify-content: flex-end !important;
}

.justify-between {
   justify-content: space-between !important;
}

.justify-around {
   justify-content: space-around !important;
}

.justify-evenly {
   justify-content: space-evenly !important;
}


// Align
.align-items-start {
   align-items: flex-start !important;
}

.align-items-center {
   align-items: center !important;
}

.align-items-end {
   align-items: flex-end !important;
}

.align-items-stretch {
   align-items: stretch !important;
}

.align-items-baseline {
   align-items: baseline !important;
}

.align-self-start {
   align-self: flex-start !important;
}

.align-self-center {
   align-self: center !important;
}

.align-self-end {
   align-self: flex-end !important;
}

.align-self-stretch {
   align-self: stretch !important;
}

.align-content-start {
   align-content: flex-start !important;
}

.align-content-center {
   align-content: center !important;
}

.align-content-end {
   align-content: flex-end !important;
}

.align-content-between {
   align-content: space-between !important;
}

.align-content-around {
   align-content: space-around !important;
}

// Custom CSS
.center-x {
   display: flex !important;
   justify-content: center !important;
}

.center-y {
   display: flex !important;
   align-items: center !important;
}

.center-xy {
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}

.space-between {
   display: flex !important;
   justify-content: space-between !important;
   align-items: center !important;
}