ion-modal.auto-height {
    &.bottom {
        align-items: flex-end;
    }

    --height: auto;
    --max-height: 95%;

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            background-color: #fff;
            max-height: 75vh;
            overflow: auto;

            ion-grid:not(.table-grid) {
                padding: 2em;
            }
        }
    }
}

.alert-modal {
    --width: 30vw;
    --height: 22vh;
    --background: var(--ion-color-light) !important;

    @media (max-width: 1200px) {
        --width: 90vw;
    }

    &::part(backdrop) {
        --backdrop-opacity: 0.4; // default Ionic feel
    }
}

.lihat-pembayaran-modal {
    --width: 55vw;
    --height: 75vh;
    --background: var(--ion-color-light) !important;
    --border-radius: 14px;

    @media (max-width: 1200px) {
        --width: 90vw;
    }
}

.lihat-pelajar-modal {
    --width: 45vw;
    --height: 75vh;
    --background: #f4f5f8 !important;
    --border-radius: 14px;


    @media (max-width: 1200px) {
        --width: 100%;
        --height: 100vh;
    }
}