ion-modal.auto-height {
    &.bottom {
        align-items: flex-end;
    }

    --height: auto;
    --max-height: 95%;

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            background-color: #fff;
            max-height: 75vh;
            overflow: auto;

            ion-grid:not(.table-grid) {
                padding: 2em;
            }
        }
    }
}

.alert-modal {
    --width: 30vw;
    --height: 22vh;
    --background: var(--ion-color-light) !important;

    @media (max-width: 768px) {
        --width: 70vw;
    }

    @media (min-height: 768px) {
        --height: 400px;
    }
}