ion-menu {
  width: 270px;
  border: var(--background);

  ion-content {}

  @media(max-width: 993px) {
    width: 100%;
  }
}

.img-tumbnail::part(image) {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

  @media(max-width: 991px) {
    width: 100px;
    height: 100px;
  }
}

ion-list {}

ion-item {

  ion-icon {}

  &:hover {}

  &.selected {

    ion-icon {}

    ion-text {}
  }

  &.danger {

    ion-icon,
    ion-text {}
  }
}