ion-menu {
  width: 270px;
  border: var(--ion-color-second-main);

  ion-content {
    --background: var(--ion-color-main);
  }

  @media(max-width: 993px) {
    width: 100%;
  }
}

.img-tumbnail::part(image) {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

  @media(max-width: 991px) {
    width: 100px;
    height: 100px;
  }
}

ion-list {
  background: var(--ion-color-main);
}

ion-item {
  --background: var(--ion-color-main);

  ion-icon {
    color: var(--ion-color-second-main);
  }

  ion-text {
    color: var(--ion-color-second-main);

  }


  &.selected {
    --background: var(--ion-color-second-main);

    ion-icon {
      color: var(--ion-color-main);
    }

    ion-text {
      color: var(--ion-color-main);

    }
  }

  &.danger {

    ion-icon,
    ion-text {
      color: var(--ion-color-light);
    }
  }
}