<ion-content>
  <app-header [title]="'Senarai Pembayaran'" [showBackBtn]="true"></app-header>

  <ion-grid class="ion-padding" fixed>
    <ion-row>
      <ion-col>
        <header class="page-title-section ion-margin-bottom ">
          <ion-text color="dark">
            <h1 class="fw-bold">Senarai Rekod Pembayaran</h1>
            <p class="text-muted">Berikut adalah senarai bagi pembayaran yang telah direkod.</p>
          </ion-text>
        </header>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="12">
        <app-search-bar (onSearchEvent)="onSearch($event)"></app-search-bar>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="12">
        <app-table [isLoading]="isLoading" [tableData]="tableData" [tablePaging]="tablePaging"
          [tableHeader]="tableHeader" (pageChange)="onPageChange($event)"
          (recordChange)="onRecordChange($event)" (onButtonClick)="onLihat($event)"></app-table>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
  </ion-grid>
</ion-content>