<ion-content>
  <app-header [title]="'Senarai Pembayaran'" [showBackBtn]="true"></app-header>

  <ion-grid class="ion-padding" fixed>

    <app-header-title [title]="'Senarai Rekod Pembayaran'"
      [subtitle]="'Berikut adalah senarai bagi pembayaran yang telah direkod.'"></app-header-title>

    <ion-row class="">
      <ion-col size="12">
        <app-search-bar (onSearchEvent)="onSearch($event)"></app-search-bar>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="12">
        <app-table [isLoading]="isLoading" [tableData]="tableData" [tablePaging]="tablePaging"
          [tableHeader]="tableHeader" (pageChange)="onPageChange($event)" (recordChange)="onRecordChange($event)"
          (onButtonClick)="onLihat($event)"></app-table>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
  </ion-grid>
</ion-content>