<ion-content>
  <app-header [title]="'Senarai Slip Gaji'" [showBackBtn]="true"></app-header>

  <ion-grid fixed class="ion-padding">
    <app-header-title [title]="'Senarai Slip Gaji'"
      [subtitle]="'Berikut merupakan senarai slip gaji yang telah dijana dalam sistem'"></app-header-title>

    <ion-row class="">
      <ion-col size="12">
        <app-search-bar (onSearchEvent)="onSearch($event)" [categoryList]="categories"></app-search-bar>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="12">
        <app-table [isLoading]="isLoading" [tableData]="tableData" [tablePaging]="tablePaging"
          [tableHeader]="tableHeader" (pageChange)="onPageChange($event)" (recordChange)="onRecordChange($event)"
          (onButtonClick)="onLihat($event)"></app-table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>