<ion-content>
  <app-header [title]="'Rekod Pembayaran'" [showBackBtn]="true"></app-header>
  <form [formGroup]="paymentForm">
    <div class="main-container ion-padding">
      <ion-grid fixed>
        <app-header-title [title]="'Borang Maklumat Pembayaran'"
          [subtitle]="'Sila lengkapkan butiran pembayaran di bawah.'"></app-header-title>
      </ion-grid>

      <ion-grid fixed>
        <ion-card class="form-card">
          <ion-card-header>
            <ion-row class="ion-align-items-center ion-no-padding">
              <ion-col class="d-flex align-items-center" sizeMd="6" size="12">
                <div class="icon-badge">
                  <ion-icon name="person-outline"></ion-icon>
                </div>
                <ion-card-title class="fw-bold">Maklumat Pelajar</ion-card-title>
              </ion-col>
              <ion-col class="ion-text-end" sizeMd="6" size="12">
                <ion-button size="small" fill="outline" color="tertiary" (click)="onPilih()" class="add-btn">
                  <ion-icon slot="start" name="person-add-outline"></ion-icon>
                  Pilih Pelajar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content>
            <ion-row class="input-form-row">
              <ion-col sizeLg="6" size="12">
                <ion-label class="form-label required">Nama Pelajar</ion-label>
                <ion-input class="form-control" formControlName="namaPelajar" readonly></ion-input>

                <app-error-message *ngFor="let val of validations?.namaPelajar" [field]="paymentForm.get('namaPelajar')"
                  [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
              </ion-col>

              <ion-col sizeLg="6" size="12">
                <ion-label class="form-label required">Kelas</ion-label>
                <ion-input class="form-control" formControlName="kelas" readonly></ion-input>

                <app-error-message *ngFor="let val of validations?.kelas" [field]="paymentForm.get('kelas')"
                  [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
              </ion-col>

              <ion-col sizeLg="6" size="12">
                <ion-label class="form-label required">No KP / Passport</ion-label>
                <ion-input class="form-control" formControlName="noKP" readonly></ion-input>

                <app-error-message *ngFor="let val of validations?.noKP" [field]="paymentForm.get('noKP')"
                  [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card class="form-card ion-margin-top">
          <ion-card-header>
            <ion-row class="ion-align-items-center ion-no-padding">
              <ion-col class="d-flex align-items-center" sizeMd="6" size="12">
                <div class="icon-badge">
                  <ion-icon name="card-outline"></ion-icon>
                </div>
                <ion-card-title class="fw-bold">Maklumat Pembayaran</ion-card-title>
              </ion-col>
              <ion-col class="ion-text-end" sizeMd="6" size="12">
                <ion-button size="small" fill="outline" color="tertiary" (click)="addItem()" class="add-btn">
                  <ion-icon slot="start" name="add-outline"></ion-icon>
                  Tambah
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content>
            <div formArrayName="detailsBayaran" class="items-list-container">
              <ng-container *ngFor="let item of items.controls; let i = index">
                <ion-row class="input-form-row item-row" [formGroupName]="i">

                  <ion-col sizeMd="8" size="12">
                    <ion-label class="form-label">Butiran</ion-label>
                    <ion-input class="form-control" formControlName="butiran">
                    </ion-input>

                    <app-error-message *ngFor="let val of validations?.detailsBayaran.items.butiran"
                      [field]="item.get('butiran')" [error]="val.error" [message]="val.message"
                      [submitted]="isSubmitted"></app-error-message>
                  </ion-col>

                  <ion-col sizeMd="3" size="12">
                    <ion-label class="form-label">Jumlah (RM)</ion-label>
                    <ion-input class="form-control" type="number" placeholder="0.00" formControlName="jumlah">
                    </ion-input>

                    <app-error-message *ngFor="let val of validations?.detailsBayaran.items.jumlah"
                      [field]="item.get('jumlah')" [error]="val.error" [message]="val.message"
                      [submitted]="isSubmitted"></app-error-message>
                  </ion-col>

                  <ion-col sizeMd="1" size="12" class="d-flex align-items-end justify-center">
                    <ion-button fill="clear" color="danger" (click)="removeItem(i)">
                      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ion-col>

                </ion-row>
              </ng-container>
            </div>

            <div class="summary-box ion-margin-vertical">
              <ion-row class="ion-align-items-center">
                <ion-col class="ion-text-end">
                  <ion-text color="medium" class="ion-text-uppercase fw-semibold letter-spacing">
                    Jumlah Keseluruhan
                  </ion-text>
                </ion-col>
                <ion-col size="auto" class="ion-text-end">
                  <ion-text color="dark" class="total-amount">
                    RM {{ getTotal() | number:'1.2-2' }}
                  </ion-text>
                </ion-col>
              </ion-row>
            </div>

            <ion-row class="input-form-row">
              <ion-col sizeLg="6" size="12">
                <ion-label class="form-label required">Tarikh Pembayaran</ion-label>

                <ion-datetime-button datetime="datetime" class="mt-12"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime" presentation="date" [min]="minDate" [max]="maxDate"
                      [showDefaultButtons]="true"
                      (ionChange)="paymentForm.get('tarikhBayaran')?.setValue($event.detail.value)" locale="en-GB"
                      [formatOptions]="{date: {day: '2-digit',month: '2-digit',year: 'numeric'}}">
                    </ion-datetime>
                  </ng-template>
                </ion-modal>

                <app-error-message *ngFor="let val of validations?.tarikhBayaran"
                  [field]="paymentForm.get('tarikhBayaran')" [error]="val.error" [message]="val.message"
                  [submitted]="isSubmitted"></app-error-message>
              </ion-col>

              <ion-col sizeLg="6" size="12">
                <ion-label class="form-label required">Kaedah Pembayaran</ion-label>
                <ion-select class="form-control" placeholder="Pilih kaedah pembayaran"
                  [interfaceOptions]="{ header: 'Pilih Kaedah Pembayaran' }" formControlName="jenisBayaran">
                  <ion-select-option value="tunai">Tunai (Kaunter)</ion-select-option>
                  <ion-select-option value="Bayaran Atas Talian">Bayaran Atas Talian</ion-select-option>
                </ion-select>


                <app-error-message *ngFor="let val of validations?.jenisBayaran"
                  [field]="paymentForm.get('jenisBayaran')" [error]="val.error" [message]="val.message"
                  [submitted]="isSubmitted"></app-error-message>
              </ion-col>

            </ion-row>

            <div class="ion-padding-top ion-text-end">
              <ion-button color="tertiary" (click)="onSimpan()">
                <div class="d-flex align-items-center">
                  <ion-icon name="save" slot="start"></ion-icon>
                  <ion-text class="ps-8">Simpan Pembayaran</ion-text>
                </div>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-grid>
    </div>
  </form>

</ion-content>