<ion-header class="ion-no-border">
  <ion-toolbar color="main">
    <ion-title class="ion-text-center">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-search-bar (onSearchEvent)="onSearch($event)" [categoryList]="categories"></app-search-bar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="mb-8">
          <ion-text style="font-size: 12px;color: gray;font-style: italic;">
            Berikut senarai {{isKakitangan ? 'kakitangan':'pelajar'}} yang didaftar dalam sistem
          </ion-text>
        </div>

        <app-table [tableHeader]="tableHeader" [isLoading]="isLoading" [tableData]="tableData" [showPaging]="false"
          [showBilangan]="false" (radioChange)="onRadioChange($event)" [hasTableTitle]="false"></app-table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="onSimpan(false)">
        Tutup
      </ion-button>
      <ion-button color="secondary" fill="solid" class="px-4" (click)="onSimpan(true)"
        [disabled]="selectedData == null">
        Simpan Maklumat
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>