.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table-header {
    padding: 12px 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    font-family: "Roboto-SemiBold", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 14px;
    font-family: "Roboto-SemiBold", sans-serif;
    text-align: left;
    padding: 4px 14px;
}

td {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border-top: 0px;
    padding: 4px 14px;
}

.col-bil {
    width: 6vh;
}

.table-footer {
    border-top: 0;
    padding: 8px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

ion-button[disabled] {
    opacity: 0.4;
}